.repos {
    /* padding: 0 1rem; */
    width: 80%;
    margin: 0 auto;
}

@media only screen and (min-width: 900px) {
    .repos {
        width: 60%;
    }
}

@media only screen and (min-width: 1200px) {
    .repos {
        width: 50%;
    }
}

/* @media only screen and (min-width: 850px) {
    .repos {
        padding: 0 5rem;
    }
}

@media only screen and (min-width: 1200px) {
    .repos {
        padding: 0 10rem;
    }
} */