.repos {
    padding: 0 1rem;
}

@media only screen and (min-width: 650px) {
    .repos {
        padding: 0 3rem;
    }
}

@media only screen and (min-width: 850px) {
    .repos {
        padding: 0 5rem;
    }
}

@media only screen and (min-width: 1200px) {
    .repos {
        padding: 0 10rem;
    }
}